/* https://www.colorcombos.com/color-schemes/650/ColorCombo650.html */

$blue : #3498db;
$darkblue : #34495E;
$green :  #1ABC9C;
$red : #E74C3C;
$white: #AAAAAA;
*{
    margin:0;
}

.gameInfo{
    display:flex;
    width:50%;
    justify-content:space-between;
}

.gameInfo>div{
    color:yellow;
    font-weight:800;
    margin-left:5px;
    margin-right:5px;
}

.board{
    background-color:$white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
    height:100%;
}

.fret{
    border-left:3px;
    border-right:3px;
    border-style:solid;
    border-image: linear-gradient(to left, white,black,white) 20;
    border-top:0px;
    border-bottom:0px;
    height:50px;
    width:50px;
    float:left;
}

//Dots on third, fifth, seventh and ninth fret.
.wire:nth-of-type(3)>.fret:nth-of-type(4)::after, .wire:nth-of-type(3)>.fret:nth-of-type(6)::after,  .wire:nth-of-type(3)>.fret:nth-of-type(8)::after, .wire:nth-of-type(3)>.fret:nth-of-type(10)::after{
    justify-content: center;
    display: flex;
    content: ' \25CF';
    color:white;
    font-size: 50px;
    position:relative;
    bottom:10px;
}

//Dots on the twelfth frets
.wire:nth-of-type(2)>.fret:nth-of-type(12)::after, .wire:nth-of-type(4)>.fret:nth-of-type(12)::after{
    justify-content: center;
    left:100%;
    display: flex;
    content: ' \25CF';
    color:white;
    font-size: 50px;
    position:relative;
    bottom:10px;
}

.wire{
    display:flex;
    flex-direction:row;
    width:auto;
    background-image: url("background-images/wood.jpg");
    border-width:1px;
    border-color:black;
    border-style:solid;
    height:50px;
}


.fretboard{
    display:flex;
    flex-direction:column;
}
.options{
    background-color: $white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:3;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.tuningOptions{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
    text-align:center;
}

.stringNumberSelector{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:3;
}

.fretNumberSelector{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:3;
    grid-row-end:4;
}

.timeSelectorDiv{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:4;
    grid-row-end:5;
}

.questionFretButton{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:4;
}

.noteButton{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end:6;
}

.game{
    display:grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 3fr 1fr;
    height:100vh;
}


.hidden{
    opacity:0.3;
    pointer-events:none;
}

.questionNode{
    background-color:yellow;
}

.selectNoteButtons{
    display:flex;
    height:50px;
    width:50px;
}

.selectNoteDiv{
    display:flex;
    flex-direction:row;
} 

.selectNoteButtons{
    text-align:center;
    vertical-align:middle;
    display:inline;
    border-color: $green;
    color: #fff;
    box-shadow: 0 0 40px 40px $green inset, 0 0 0 0 $green;
    transition: all 150ms ease-in-out;
    color:#CCCCCC;
}

.gameStartButton {
    border-color: $blue;
    color: #fff;
    box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
    transition: all 150ms ease-in-out;
    color:#CCCCCC;
    margin:8px;
  }

  .gameStartButton:hover {
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
    color:#333333;
  }

  .scores{
    background-color: $white;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
    height:100%;
}

.noteScoreBoard, .questionFretScoreBoard{
    padding:5px;
    margin:15px;
    border-top:0px;
    border-bottom:0px;
    border-left:5px;
    border-right:5px;
    border-style:solid;
    border-color:$blue;
    margin-top:30px;
    &::after {
        content:'';
        display:block;
        height:5px;
        width:0%;
        background-color:$blue;
        transition: width 0.7s ease-in-out;
        margin: 0 auto;
    }
}

@keyframes lineExpand {
    0%{
        width:0%;
    }
    100%{
        width:100%;
    }
}

.noteScoreBoard:hover, .questionFretScoreBoard:hover{
    &::after {
        content:'';
        display:block;
        height:5px;
        background-color:$blue;
        transition: width 0.7s ease-in-out;
        width:100%;
    }
}

.scoreHeader{
    position:relative;
    top:-15px;
}
.ranking{
    display:flex;
    flex-direction:row;
    height:100%;
}