*{
    margin:0;
}

.board{
    background-color: #4e3030;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
    height:100%;
}

.fret{
    height:50px;
    width:50px;
    float:left;
}
.wire{
    display:flex;
    flex-direction:row;
    width:auto;
    border-width:1px;
    border-color:black;
    border-style:solid;
    height:50px;
}


.fretboard{
    display:flex;
    flex-direction:column;
}
.options{
    background-color: #5a7548;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:3;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.scores{
    background-color: #3c2c94;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
    height:100%;
}

.tuningOptions{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
    text-align:center;
}

.stringNumberSelector{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:3;
}

.fretNumberSelector{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:3;
    grid-row-end:4;
}

.timeSelectorDiv{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:4;
    grid-row-end:5;
}

.questionFretButton{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:4;
}

.noteButton{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end:6;
}

.ranking{
    display:flex;
    flex-direction:row;
}

.ranking>div{
    
}

.ranking>div>div{
    
}

.game{
    display:grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 3fr 1fr;
    height:100vh;
}


.hidden{
    opacity:0.3;
    pointer-events:none;
}

.questionNode{
    background-color:yellow;
}

.selectNoteButtons{
    display:flex;
    height:50px;
    width:50px;
}

.selectNoteDiv{
    display:flex;
    flex-direction:row;
} 

.selectNoteButtons{
    text-align:center;
    vertical-align:middle;
    display:inline;
}